<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <div class = "text-center">
    	<h3>Robotics: Way-finding robot using ROS and Kinect Sensor</h3>
    	<p>This year Jourdon Tribue and I developed a simple robotics platform we call Umlaut. Umlaut uses ROS: Robotics Operating System and the Kinect sensor to navigate between waypoints all on his own. Click the image learn how we got him working</p>
  	    </div> 
        <a ng-href="#/projects/knobull" class="thumbnail">
        <img src="../images/ros.png" alt="knobull">
    </a>
  </div> 
</div>

<br>
<br>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
        <div class = "text-center">
    	<h3>Work: Search Startup</h3>
    	<p>During the past six months I have been working on the Knobull team developing a prototype meta=search engine and learning center. Click the image to learn about the development tools I used and things I discovered...  </p>
  	    </div> 
        <a ng-href="#/projects/knobull" class="thumbnail">
        <img src="../images/knobull/knobull.png" alt="knobull">
    </a>
  </div> 
</div>

<br>
<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
      <div class = "text-center">
    	<h3>Restoration: 1989 Kawasaki JS550</h3>
    	<p >Last summer I restored a 1989 Kawasaki JS550. Click the image to learn about the process... </p>
    </div>
    <a ng-href="#/projects/jetski" class="thumbnail">
      <img src="../images/freetime/jetski/begin.jpg" alt="umlaut">
    </a>
  </div>
</div>

<br>
<br>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class = "text-center">
    	<h3>Research: Marine Hydrodynamic Energy</h3>
    	<p>During my freshman year I did research in the Marine Hydrodyanmics Laboratory at the University of Michigan. My advisor Dr. Michael M. Bernitsas Ph.D. has developed alternative method to extract energy from a flow by utilizing vortex-induced vibrations. Click the image to view my symposium poster and learn more about his invention VIVACE...</p>
    </div>
    <a ng-href="#/projects/urop" class="thumbnail">
      <img src="../images/urop/poster.jpg" alt="urop">
    </a>
  </div>
</div>



<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class = "text-center">
    	<h3>Art and Design: Ceramics</h3>
    	<p>During my freshman year I did research in the Marine Hydrodyanmics Laboratory at the University of Michigan. My advisor Dr. Michael M. Bernitsas Ph.D. has developed alternative method to extract energy from a flow by utilizing vortex-induced vibrations. Click the image to view my symposium poster and learn more about his invention VIVACE...</p>
    </div>
    <a ng-href="#/projects/ceramics" class="thumbnail">
      <img src="../images/freetime/ceramics/light-1.jpg" alt="ceramics">
    </a>
  </div>
</div>


<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <a ng-href="#/projects/umlaut" class="thumbnail">
      <img src="" alt="thiswebapp">
    </a>
  </div>
</div>
